@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
    list-style: none;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #dde1e9;
}

/* FOOTER >_> */
.footer{
    color: #dde1e9;
    background-color: #000000;
    padding: 30px 0;
}

.footer-row{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;    
}

.footerC, .footerI, .footerL, .footerR{
    width: 100%;
    max-width: 300px;
    padding: 0 15px;
    text-align: center;
}

.footerC ul, .footerI ul, .footerL ul{
    text-align: center;
    padding-left: 0; /* Asegúrate de quitar el padding izquierdo para centrar correctamente */
}

.footer-row ul li {
    list-style: none; /* Quitar los estilos de lista por defecto */
}

.footer-row h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    display: inline-block;
    padding-bottom: 10px;
}

.footer-row ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.footer-row ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 7px;
    margin-right: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.social-links a:hover{
    background-color: #12bbee;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}



/* SECCION MENU :v*/
.contenedor-header{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #2f283e;
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 99;
    text-align: center;
    padding: 0 20px; 
}

.contenedor-header header{
    max-width: 1100px;
    margin: 0 auto; /* Centrar el header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    color: #fff;
    text-align: center; /* Asegura que el texto del header esté centrado */
}
.txtTurqueza{
    color: #1fcfdf;
}
.contenedor-header header nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;   
    text-transform: uppercase;
    margin: 0 10px; /* Agrega margen para separar los enlaces */
}
.contenedor-header header nav a:hover{
    
    text-decoration: underline;    
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #1fcfdf;
}
.nav-responsive{
    font-size: 25px;
}

/*SECCION INICIO*/
.inicio{
    height: 100vh;
    background: linear-gradient(rgba(0,1,3,.5), rgba(0,0,0,.7)), url(img/xd.jpeg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Asegura que el texto esté centrado */
}

.inicio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.inicio .info{
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inicio .info h2{
    font-size: 4rem;
    letter-spacing: 3px;
}
.inicio .info p{
    margin: 20px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.inicio .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #1fcfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #1fcfdf;
    margin-top: 50px;
    text-decoration: none;
}

/* Efecto parallax */
.parallax {
    background-attachment: fixed;
}

.no-parallax {
    background-attachment: scroll;
}


/* Ventajas */
.Ventajas{
    min-height: 88vh;
    background-color: black;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.Ventajas h1{
    color: #1fcfdf;
    font-weight: bold;
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Ventajas h2 {
    margin-top: -30px; 
    margin-bottom: 100px;
}

.Ventajas .imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 50px
}

.Ventajas .imagenes div {
    max-width: 500px;
    flex: 1 1 300px;
    margin: 10px;
    box-sizing: border-box;
}

.Ventajas img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px; /* Espacio debajo de la imagen */
}

.Ventajas h4 {
    margin-bottom: 40px; /* Espacio debajo del h4 */
}

.Ventajas h5 {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    margin: 15px auto 0; /* Espacio encima y centrar horizontalmente */
}

.Equipo_completo img, .Comodidad_servicios img, .comunidad_confort img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Recorta la imagen para que llene el contenedor */
}

/* SECCION MAPITA UwU */
.mapa {
    color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: scroll;
}

.mapa h1 {
    margin-top: 25px; 
    margin-bottom: 50px; 
}

.mapa .contenedor-mapa{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#maps {
    width: 100%;
    max-width: 1300px; /* Opcional: máximo ancho para que no se expanda demasiado */
    padding: 0 20px; /* Padding horizontal para evitar que el mapa toque los bordes de la pantalla */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */    
    margin-bottom: 100px;
}

#maps iframe {  
    width: 100%;
    height: 600px; /* Puedes ajustar la altura según lo necesites */
    border: 0;
    margin: 0 auto;
}

/* SECCION CONTACTANOS INICIO :3 */
.contacto_inicio {
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinear al inicio */
    text-align: center;
    background-attachment: scroll;
    flex-direction: row; /* Por defecto, colocar h1 y .img_con_ini en fila */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay espacio */
}

.contacto_inicio .textoC {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinear al inicio */
    justify-content: center; /* Justificar al inicio */
    gap: 70px;
    align-items: center;
    box-sizing: border-box;
    max-width: 1000px; /* Ajusta según tus necesidades */
    width: 100%;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay espacio */
}

.contacto_inicio .img_con_ini {
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 20px; /* Ajusta según tus necesidades */
    box-sizing: border-box;
    max-width: 350px; /* Ajusta según tus necesidades */
    width: 100%;
    margin-bottom: 90px; /* Espacio entre .img_con_ini y los elementos siguientes */
    margin-top: 100px; /* Espacio sobre .img_con_ini */
}

.contacto_inicio h1 {
    padding: 20px; /* Ajusta según tus necesidades */
    box-sizing: border-box;
    max-width: 300px; /* Ajusta según tus necesidades */
    width: 100%;
    order: -1; /* Cambiar orden para que h1 esté encima en dispositivos pequeños */
}

.contact_facebook, .contact_whatsapp, .contact_instagram, .contact_email, .contact_maps {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre los elementos de contacto */
}

.contact_facebook img, .contact_whatsapp img, .contact_instagram img, .contact_email img, .contact_maps img {
    height: 50px; /* Ajusta según tus necesidades */
    width: 50px; /* Ajusta según tus necesidades */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.contact_instagram img, .contact_email img, .contact_maps img {
    height: 40px; /* Ajusta según tus necesidades */
    width: 40px; /* Ajusta según tus necesidades */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    margin-left: 5px; /* Espacio a la izquierda de la imagen */
}

.contact_facebook a, .contact_whatsapp a, .contact_instagram a, .contact_email a, .contact_maps a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .contacto_inicio {
        flex-direction: column; /* Cambia a dirección de columna para dispositivos pequeños */
        align-items: center; /* Centra los elementos en dispositivos pequeños */
    }
    
    .contacto_inicio h1 {
        order: 1; /* Devuelve el orden predeterminado */
        max-width: 100%; /* Ajusta según tus necesidades */
    }
    
    .contacto_inicio .img_con_ini {
        order: 2; /* Cambia el orden para que .img_con_ini esté debajo de h1 en dispositivos pequeños */
        margin-top: 0; /* Elimina el margen superior */
    }
}



/*SECCION CONTACTO*/
.contacto
{
    height: 100vh;
    background: linear-gradient(rgba(0,1,3,.5), rgba(0,0,0,.7)), url(img/img4.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-attachment: fixed;
}

.contacto .contenido-seccion
{
    max-width: 1100px;
    margin: auto;
}

.contacto .info
{
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .info h2
{
    font-size: 4rem;
    letter-spacing: 3px;
}

.contacto .info p
{
    margin: 20px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.horario
{
    background-color: #000;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-attachment: scroll;
}

.contenedor-horario
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor-horario h2
{
    color: #1fcfdf;
}

.dias
{
    margin: 30px;
}

.contenedor-hora
{
    background-color: #fff;  
    color: #000;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 6px;
}

.redes
{
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-attachment: scroll;
}

.contenedor-redes
{    
    margin: 50px 0px;
}

.facebook img
{
    height: 50px;
    width: 50px;
    margin: 6px;
}

.whatsapp img
{
    height: 60px;
    width: 60px;
    margin: 5px;
}

.instagram img
{
    height: 40px;
    width: 40px;
    margin: 10px;
}

.instagram
{
    margin-left: 15px;
    
}

.contenedor-redes a 
{
    text-decoration: none; 
    color: inherit; 
}

/*SECCION NOSOTROS*/
.nosotros
{
    height: 100vh;
    background: linear-gradient(rgba(0,1,3,.5), rgba(0,0,0,.7)), url(img/entrenar-con-pesas.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
}

.nosotros .content
{
    max-width: 1100px;
    margin: auto;
}

.nosotros .content
{
    width: max-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nosotros .content h1
{
    font-size: 4rem;
    letter-spacing: 3px;
}

.nosotros .content p
{
    margin: 20px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 1050px;
  
}

/* Seccion Equipo */
.Equipo
{
    height: 70vh;
    background-color: black;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center; /* Asegura que el texto esté centrado */
}

.Equipo h4
{
    margin-top: 20px;
}

.Equipo h1
{
    color: #1fcfdf;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Equipo .imagenes
{  
    display: flex;
    justify-content: center;    
    gap: 400px;
    margin-top: 150px;
}

.Administradora img{
  
    max-width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 200px;
    object-fit: cover; /* Recortar la imagen para que llene el contenedor */
   


}
.Entrenadora img{
    
    max-width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 200px;
    flex-shrink: 0; /* Asegura que las imágenes no se reduzcan más allá de su tamaño original */
   
}
.Diseñadora img{
    
    max-width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 200px;
    object-fit: cover; /* Recortar la imagen para que llene el contenedor */
    
}
/* Seccion Esfuerzo */
.Esfuerzo{
    height: 70vh;
    background-color: white;
    background-size: cover;
    background-position: center center;
    color: #000;
    display: flex;
    align-items:center;
    padding: 200px;
    
}
.Esfuerzo .texts {
    
     
    padding: 20px; 
    
}
.Esfuerzo .texts h6 {
    max-width: 50%;
    text-align: left;   
    font-size: 18px; 
    
}
.Esfuerzo .texts h1 {
    max-width: 75%;
    text-align: left; 
    font-weight: bold; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Esfuerzo .texts p {
    max-width: 75%;
    text-align: left; 
    font-size: 19px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.Esfuerzo .imagenref img{

    
    width: 400px; 
    height: 400px;
    object-fit: cover;   

}
.highlight {
    color: #12bbee; /* Cambia este color según tus necesidades */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Seccion mision y vision */
.meta{
    
    height: 120vh;
    background-color: black;
    background-size: cover;
    background-position: center center;
    color: #fff;
    
    align-items:center;
    padding: 100px;
    
}
.meta .Mision {
    
    justify-content: space-between; /* Asegura que los elementos se distribuyan correctamente */
    display: flex;
    align-items:center; /* Alinea los elementos verticalmente en el centro */
}
.meta .textmi{

    max-width: 40%;
    text-align: left;
}
.meta .textmi h1{
    max-width: 75%; 
    font-weight: bold; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.meta .textmi p{
    max-width: 90%;
    
    font-size: 19px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.meta .imagenmision img{

    display: flex;
    justify-content: center;
    
    gap: 400px;
    
    width: 600px; 
    height: 400px;
    object-fit: cover;   

}
.meta .Vision {
    display: flex;
    justify-content: space-between; /* Asegura que los elementos se distribuyan correctamente */
    margin-top: 150px;
    align-items:center; /* Alinea los elementos verticalmente en el centro */
}
.meta .textvi{

    max-width: 40%;
    text-align: right;
}
.meta .textvi h1{
    
    font-weight: bold; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.meta .textvi p{
    
     
    font-size: 19px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.meta .imagenvision img{
    

    width: 600px; 
    height: 400px;
    object-fit: cover;   

}
/* Sector Valores*/
.contenvalores{
    height: 60vh;
    background-size: cover;
    background-position: center center;
    color: #000;
    position: relative;
   
    text-align: center; /* Asegura que el texto esté centrado */
    margin-top: 100px;
}
.Valores h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; 
}
.PARRAFO .name{

color: #1fcfdf;
}
.imagenesva {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px; /* Espacio entre los elementos */
    margin-top: 100px;
    margin-bottom: 100px;
}
.imagenesva .mejora{
    margin-top: 30px;
} 
.imagenesva div {
    text-align: center;
    max-width: 150px; /* Ajusta el tamaño del contenedor de la imagen */
}
.imagenesva img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}
/* SECCION PLANES SERVICIOS */
.planes{
    height: 100vh;
    background: linear-gradient(rgba(0,1,3,.5), rgba(0,0,0,.7)), url(img/DSC07582.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Asegura que el texto esté centrado */
    background-attachment: fixed;
}
.planes .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.planes .info{
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.planes .info h2{
    font-size: 4rem;
    letter-spacing: 3px;
}
.planes .info p{
    margin: 20px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
/*seccion servicios*/
.servicios {
    background-color: #000;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-attachment: scroll;
}

.servicios .contenedor-servicios {
    margin-top: 50px;
    margin-bottom: 50px;
}

.servicios .contenedor-servicios h2 {
    color: #fff;
}

.servicios .contenedor-servicios p {
    margin: 20px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.servicios .seccion-servicio {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 80%;
    box-sizing: border-box;
    margin: 15px auto;
    align-items: center;
}

.servicios .seccion-servicio img {
    width: 70%;
    border-radius: 15px;
}

.servicios .seccion-servicio .texto {
    max-width: 90%;
    text-align: left;
}

.servicios h3 {
    text-align: center;
    color: #1fcfdf;
    padding-bottom: 15px;
}

.servicios p {
    margin: 20px;
    font-size: 16px;
}
.servicios ul li {
 list-style-type: disc;   
}

/*seccion tipoplanes*/
.tipoplanes {
    background-color: #fff;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-attachment: scroll;
}
.tipoplanes .contenedor-tipoplanes h2 {
    color: #000;
}

.tipoplanes .contenedor-tipoplanes p {
    margin: 20px;
    color: #000;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.tipoplanes .seccion-tipoplanes{
    width:100;
    display: flex;
    max-width: 1100px;
}
.tipoplanes .seccion-tipoplanes .bloque{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #000;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.tipoplanes .seccion-tipoplanes .bloque:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
}

.tipoplanes .seccion-tipoplanes .bloque .texto{
    padding: 1px;
    text-align: center;
    color: #fff;

}
.tipoplanes img{
    height: 45%;
    width: 90%;
    margin-top: 12px;
    border-radius: 6px;
    border-color: #fff;
    border: 3px solid #fff
}

.tipoplanes h2{
    text-align: left;
    color: #fff;
    margin-top: 10px;
}

.tipoplanes li{
    text-align: left;
    color: #fff;
}

.tipoplanes ul li {
    list-style-type: disc;   
   }

.tipoplanes a {
    text-decoration: none;
    display: inline-block;
    background-color: #fff;
    margin-block: 5px;
    color: #000;
    border-radius: 4px;
    transition: all 400ms ease;
   }

.tipoplanes a:hover{
    background-color: #1fcfdf;
    color: #fff;

}

/*SECCION CUENTA*/
.Acceder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }


  .ContenedorAcceder,
  .ContenedorRegistro {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 0 10px;
  }


  H2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
  }


  label {
    display: block;
    margin-bottom: 5px;
    color: #444;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }


  .remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .remember p {
    color: #999;
    font-size: 12px;
  }


  .btn-1 {
    background-color: #1fcfdf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    width: 100%;
  }


  input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


  .ContenedorAcceder .remember a,
  .ContenedorRegistro .remember a {
    color: #cccccc;
    text-decoration: none;
    font-size: 12px;
  }

  .ContenedorAcceder .remember a:hover,
  .ContenedorRegistro .remember a:hover {
    color: #444;
  }
  u {
    color: blue
  }